*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #2C3E50;
    color: white;
}

header .row{
    min-height: 88px;
}

a{
    color: white;
}

img{
    width: 100%;
  }




header .ms_height{
    height: 88px;
}

main .ms_height{
    height: 100%;
}

.ms_section-green{
    background-color: #1ABC9C;
}

.ms_section-green:first-child{
    height: 587px;
}

.ms_section-white:nth-child(2){
    height: 854px;
    background-color: white;
}

.ms_section-green:nth-child(3){
    height: 490px;
}

.ms_section-white:nth-child(4){
    height: 686px;
    background-color: white;
}

h2.h2{
    font-size: 42px;
}

.star::before,
.star::after {
    display: inline-block;
    content: "";
    border-top: .2rem solid white;
    width: 7rem;
    margin: 0 1rem;
    transform: translateY(-0.25rem);
}



.star_grey::before,
.star_grey::after {
    display: inline-block;
    content: "";
    border-top: .2rem solid #2C3E50;
    width: 7rem;
    margin: 0 1rem;
    transform: translateY(-0.25rem);
}


/* FOOOTER */

footer{
    min-height: 342px;
}

.ms_freelancer-info{
    height: 230px;
    background-color: #3A546D;
}

.ms_copyright{
    height: 112px;
    background-color: #2C3E50;
}

footer.ms_footer-container.ms_copyright.col-3{
    position: relative;
}

.btn_transform{
    color: #1ABC9C;
    background-color: transparent;
    border: none;
    position: absolute;
   transform: translateX(5px);
    
}
.round{
    border-radius: 50%;
    border-color: white;

}


.fa-plus{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: white;
    display: none;
  }
  
  .portfolio_card{
    position: relative;
    min-width: 260px;
    border-radius: 5px;
    overflow: hidden;
  }

  .portfolio_card:hover .fa-plus{
    display: block;
    z-index: 99999;
  }
  
  .portfolio_card:hover::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(23, 188, 155, 0.7);
  }
  
  #about{
    max-width: 785px;
  }
  
  .about_description{
    column-count: 2;
    column-gap: 1.5rem;
  }
  
  #contact{
    max-width: 785px;
  }
  
  .social{
    width: 50px;
    height: 50px;
  }
  
  .social a{
    text-decoration: none;
    color: currentColor;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
  }
  
  .social a:hover{
    text-shadow: 15px 20px 2px rgba(255, 255, 255, 0.5);
    transition: all 0.4s ease-in-out;
  }
  
  #freelancer a{
    text-decoration: none;
    color: #1BBC9B;
  }
  
  #freelancer a:hover{
    text-decoration: underline;
  }
  
  .form-control::placeholder, ::placeholder{
    color: #140F0F;
  }









/* DEBUG */

.row{
    border: 2px solid green;
}

div[class^="col"]{
    border: 2px solid black;
}