*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #2C3E50;
    color: white;
}

header .row{
    min-height: 88px;
}

a{
    color: white;
}




header .ms_height{
    height: 88px;
}

main .ms_height{
    height: 100%;
}

.ms_section-green{
    background-color: #1ABC9C;
}

.ms_section-green:first-child{
    height: 587px;
}

.ms_section-white:nth-child(2){
    height: 854px;
    background-color: white;
}

.ms_section-green:nth-child(3){
    height: 490px;
}

.ms_section-white:nth-child(4){
    height: 686px;
    background-color: white;
}

h2.h2{
    font-size: 42px;
}

.star::before,
.star::after {
    display: inline-block;
    content: "";
    border-top: .2rem solid white;
    width: 7rem;
    margin: 0 1rem;
    transform: translateY(-0.25rem);
}



.star_grey::before,
.star_grey::after {
    display: inline-block;
    content: "";
    border-top: .2rem solid #2C3E50;
    width: 7rem;
    margin: 0 1rem;
    transform: translateY(-0.25rem);
}


/* FOOOTER */

footer{
    min-height: 342px;
}

.ms_freelancer-info{
    height: 230px;
    background-color: #3A546D;
}

.ms_copyright{
    height: 112px;
    background-color: #2C3E50;
}


/* DEBUG */

.row{
    border: 2px solid green;
}

div[class^="col"]{
    border: 2px solid black;
}